<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.title %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /><!--import thư viên icon-->
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="dangky container-fluid w-50 p-3 mt-5">

            <form action="/insert-taikhoan" method="POST">
                <h2 class=" text-center fw-bold">Đăng ký</h2>
                <div class=" mb-3">
                    <label for="tendk" class="form-label">Tên đăng ký</label>
                    <input type="text" class="form-control" name="tendk" id="tendk">
                </div>
                <div class=" mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class=" mb-3">
                    <label for="user" class="form-label">Tên tài khoản</label>
                    <input type="text" class="form-control" name="user" id="user">
                </div>
                <div class=" mb-3">
                    <label for="pass" class="form-label">Mật khẩu </label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>

                <div class="mb-3 pt-3">
                    <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
                </div>
                <di>
                    <a href="/login" class="text-decoration-none text-dark">Quay lại</a>
                </di>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>