<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/meocon1.png" class="img-fluid" alt="">
                </div>
                <h6>Mèo con Anh 1</h6>
                <p>$9.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/meocon2.png" class="img-fluid" alt="">
                </div>
                <h6>Mèo con Anh 2</h6>
                <p>$9.39</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/meocon3.png" class="img-fluid" alt="">
                </div>
                <h6>Mèo con 4</h6>
                <p>$8.00</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/meolon1.png" class="img-fluid" alt="">
                </div>
                <h6>Mèo Lớn 1</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/TA_meo1.png" class="img-fluid" alt="">
                </div>
                <h6>Thức ăn cho mèo Minino Yum Pure Delight</h6>
                <p>$9.9</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/TA_meo2.png" class="img-fluid" alt="">
                </div>
                <h6>Thức ăn cho mèo Catsrang</h6>
                <p>$2.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/TA_meo3.png" class="img-fluid" alt="">
                </div>
                <h6>Thức ăn cho mèo đóng hộp Me-O Tuna</h6>
                <p>$1.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/catmeo1.png" class="img-fluid" alt="">
                </div>
                <h6>Cát mèo Neko</h6>
                <p>$0.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
    </div>


    
</body>
</html>