<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.title %>
    </title>
</head>
<body>
    
<div class="container">
    <h1>Form Đăng ký</h1>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Tài khoản</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Giới tính</label>
            <select class="form-select" id="gender" name="gender">
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
                <option value="other">Khác</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <textarea class="form-control" id="address" name="address"></textarea>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Phân quyền</label>
            <!-- <option value="">Chọn Quyền</option>
            const query = 'select * from phanquyen';
            connection.query(query, (err, results) =>{
                if (err) throw err;
                const phanquyen = results;
                const selectOptions = `<option value="">Chọn Quyền</option>`;
      for (const genre of genres) {
        const selected = (use.id === phanquyen_id) ? 'selected' : '';
        selectOptions += `<option value="${phanquyen.id}" ${selected}>${phanquyen.quyen}</option>`;
      }
      const formGroup = `
        <div class="form-group">
          <label>Thể Loại:</label>
          <select class="form-control" name="genre_id">
            ${selectOptions}
          </select>
        </div>
      `;
            }) -->
            <select class="form-select" id="role" name="role">
                <option value="">Chọn Quyền</option>
                <!-- Dữ liệu phân quyền sẽ được đổ vào đây bằng mã JavaScript -->
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>

</body>

</html>






